.search-bar {
    width: 100%;
    position: relative;

    input[type="text"] {
        width: 95%;
        outline: none;
        border-radius: 40px;
        padding: 12px;
        border: 1px solid lightgray;
        font-size: 14px;
        // text-align: left;
    }
    div.left-icon {
        position: absolute;
        margin-right: 10px;
        top: 27%;
        left: 15px;
        font-size: 21px;
        padding:0 20px 0 0 ;
        color:  #1a73e8;

       
    }

    div.right-icon {
        position: absolute;
        margin-right: 10px;
        top: 27%;
        right: 10px;
        font-size: 21px;
        padding-right: 10px;
        color:  #1a73e8;
    }
  
}
